<a href="https://colab.research.google.com/github/PvrpleJade/AIDA-2/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lab 01
##Group KAKEGURUI
Members:

PANELO, BRYAN

PINEDA, MATTHEW

SANTOS, FRANZ

SURBAN, JOHN BRIAN

# TASK 1: Setting the Class Grades

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving class_grades-1.xlsx to class_grades-1 (3).xlsx

In [ ]:
cg = pd.read_excel(uploaded['class_grades-1.xlsx'])
print (cg)

       name  id  prelim_grades  midterm_grades  final_grades
0     alpha   1      94.960000          95.260       92.2192
1     aleph   2      94.960000          95.260       92.7792
2      beta   3      78.173333          94.360       84.3200
3      beth   4      78.173333          81.372       84.6400
4    cuprum   5      94.960000          95.260       92.2192
5     delta   6      84.826667          92.485       83.5792
6       eta   7      93.980000          97.300       95.6528
7   epsilon   8      60.788200          68.000       83.8672
8   foxtrot   9      94.306667          82.000       84.1472
9     gamma  10      96.406667          82.000       84.1472
10     geld  11      86.926667          92.485       82.7792
11    horus  12      78.173333          94.360       84.3200
12     iota  13      94.306667          82.000       84.1472
13     ixus  14      78.173333          94.360       84.3200
14  jakarta  15      84.826667          92.485       82.7792
15    koppa  16      84.826667          87.685       83.8672
16   lambda  17      93.980000          97.300       95.6528
17       mu  18      79.806667          83.500       81.2792
18       nu  19      75.406667          82.000       82.5472
19     neta  20      69.314000          87.685       50.3360
20  omicron  21      93.980000          97.300       95.6528
21    omega  22      79.806667          83.500       81.2792
22  phalanx  23      84.826667          92.485       82.7792
23     peta  24      94.960000          95.260       92.2192
24       pi  25      79.806667          87.460       81.2792
25    yotta  26      93.980000          97.300       94.8528
26     zeta  27      86.626667          84.850       83.8672

# Task 2: Getting Class Statistics

In [ ]:
def get_grades(cg):
 cg['Semestral Grades']= (cg.iloc[:,2:5].sum(axis=1))/3
 return cg
print(get_grades(cg))

       name  id  prelim_grades  midterm_grades  final_grades  Semestral Grades
0     alpha   1      94.960000          95.260       92.2192         94.146400
1     aleph   2      94.960000          95.260       92.7792         94.333067
2      beta   3      78.173333          94.360       84.3200         85.617778
3      beth   4      78.173333          81.372       84.6400         81.395111
4    cuprum   5      94.960000          95.260       92.2192         94.146400
5     delta   6      84.826667          92.485       83.5792         86.963622
6       eta   7      93.980000          97.300       95.6528         95.644267
7   epsilon   8      60.788200          68.000       83.8672         70.885133
8   foxtrot   9      94.306667          82.000       84.1472         86.817956
9     gamma  10      96.406667          82.000       84.1472         87.517956
10     geld  11      86.926667          92.485       82.7792         87.396956
11    horus  12      78.173333          94.360       84.3200         85.617778
12     iota  13      94.306667          82.000       84.1472         86.817956
13     ixus  14      78.173333          94.360       84.3200         85.617778
14  jakarta  15      84.826667          92.485       82.7792         86.696956
15    koppa  16      84.826667          87.685       83.8672         85.459622
16   lambda  17      93.980000          97.300       95.6528         95.644267
17       mu  18      79.806667          83.500       81.2792         81.528622
18       nu  19      75.406667          82.000       82.5472         79.984622
19     neta  20      69.314000          87.685       50.3360         69.111667
20  omicron  21      93.980000          97.300       95.6528         95.644267
21    omega  22      79.806667          83.500       81.2792         81.528622
22  phalanx  23      84.826667          92.485       82.7792         86.696956
23     peta  24      94.960000          95.260       92.2192         94.146400
24       pi  25      79.806667          87.460       81.2792         82.848622
25    yotta  26      93.980000          97.300       94.8528         95.377600
26     zeta  27      86.626667          84.850       83.8672         85.114622

In [ ]:
def get_class_stats(cg):
    get_grades(cg)

    print("Prelims (Mean):")
    column = cg["prelim_grades"]
    mean_value = column.mean()
    print(mean_value)
  
    print("Midterms (Mean):", mean_value)
    column = cg["midterm_grades"]
    mean_value = column.mean()


    print("Finals (Mean):", mean_value)
    column = cg["final_grades"]
    mean_value = column.mean()

    print("Semestral (Mean):", mean_value)
    column = cg["Semestral Grades"]
    mean_value = column.mean()
    print("")

    print("Prelims (Median):")
    column = cg["prelim_grades"]
    median_value = column.median()
    print(median_value)

    print("Midterms (Median):", median_value)
    column = cg["midterm_grades"]
    median_value = column.median()

    print("Finals (Median):", median_value)
    column = cg["final_grades"]
    median_value = column.median()

    print("Semestral (Median):", median_value)
    column = cg["Semestral Grades"]
    median_value = column.median()
    print("")

    print("Prelims (Mode):")
    column = cg["prelim_grades"]
    mode_value = column.mode()
    print(mode_value)
    print("")

    print("Midterms (Mode):", mode_value)
    column = cg["midterm_grades"]
    mode_value = column.mode()
    print("")

    print("Finals (Mode):", mode_value)
    column = cg["final_grades"]
    mode_value = column.mode()
    print("")

    print("Semestral (Mode):", mode_value)
    column = cg["Semestral Grades"]
    mode_value = column.mode()
    print("")
    print("Prelims (Standard Deviation):")
    column = cg["prelim_grades"]
    standdev_value = column.std()
    print(standdev_value)
    print("")

    print("Midterms (Standard Deviation):", standdev_value)
    column = cg["midterm_grades"]
    standdev_value = column.std()
    print("")

    print("Finals (Standard Deviation):", standdev_value)
    column = cg["final_grades"]
    standdev_value = column.std()
    print("")
    
    print("Semestral (Standard Deviation):", standdev_value)
    column = cg["Semestral Grades"]
    standdev_value = column.std()

get_class_stats(cg)

Prelims (Mean):
85.60230371481481
Midterms (Mean): 85.60230371481481
Finals (Mean): 89.456
Semestral (Mean): 85.2418074074074

Prelims (Median):
84.8266667
Midterms (Median): 84.8266667
Finals (Median): 92.485
Semestral (Median): 84.1472

Prelims (Mode):
0    78.173333
1    84.826667
2    93.980000
3    94.960000
dtype: float64

Midterms (Mode): 0    78.173333
1    84.826667
2    93.980000
3    94.960000
dtype: float64

Finals (Mode): 0    82.000
1    92.485
2    95.260
3    97.300
dtype: float64

Semestral (Mode): 0    81.2792
1    82.7792
2    83.8672
3    84.1472
4    84.3200
5    92.2192
6    95.6528
dtype: float64

Prelims (Standard Deviation):
9.221653370050293

Midterms (Standard Deviation): 9.221653370050293

Finals (Standard Deviation): 7.179577773100588

Semestral (Standard Deviation): 8.607503258737331

In [ ]:
gs_1 = (cg['prelim_grades'].tolist())
print (gs_1)
class_g = 0
for g in gs_1:
  class_g += g
cmean = class_g/len(gs_1)
print("Prelim Grade(Mean): ",cmean)
print(" ")

gs_2 = (cg['midterm_grades'].tolist())
print (gs_2)
class_g = 0
for g in gs_2:
  class_g += g
cmean = class_g/len(gs_2)
print("Midterm Grade(Mean): ",cmean)
print(" ")

gs_3 = (cg['final_grades'].tolist())
print (gs_3)
class_g = 0
for g in gs_3:
  class_g += g
cmean = class_g/len(gs_3)
print("Final Grade(Mean): ",cmean)
print(" ")

[94.96, 94.96, 78.1733333, 78.1733333, 94.96, 84.8266667, 93.98, 60.7882, 94.3066667, 96.4066667, 86.9266667, 78.1733333, 94.3066667, 78.1733333, 84.8266667, 84.8266667, 93.98, 79.8066667, 75.4066667, 69.314, 93.98, 79.8066667, 84.8266667, 94.96, 79.8066667, 93.98, 86.6266667]
Prelim Grade(Mean):  85.60230371481481

[95.26, 95.26, 94.36, 81.372, 95.26, 92.485, 97.3, 68.0, 82.0, 82.0, 92.485, 94.36, 82.0, 94.36, 92.485, 87.685, 97.3, 83.5, 82.0, 87.685, 97.3, 83.5, 92.485, 95.26, 87.46, 97.3, 84.85]
Midterm Grade(Mean):  89.456

[92.2192, 92.7792, 84.32, 84.64, 92.2192, 83.5792, 95.6528, 83.8672, 84.1472, 84.1472, 82.7792, 84.32, 84.1472, 84.32, 82.7792, 83.8672, 95.6528, 81.2792, 82.5472, 50.336, 95.6528, 81.2792, 82.7792, 92.2192, 81.2792, 94.8528, 83.8672]
Final Grade(Mean):  85.2418074074074

In [ ]:
gs_1 = (cg['prelim_grades'].tolist())
print (gs_1)
column = cg['prelim_grades']
highest = column.max()
lowest = column.min()

print('Highest Prelim Grade:',highest)
print('Lowest Prelim Grade:',lowest)

[94.96, 94.96, 78.1733333, 78.1733333, 94.96, 84.8266667, 93.98, 60.7882, 94.3066667, 96.4066667, 86.9266667, 78.1733333, 94.3066667, 78.1733333, 84.8266667, 84.8266667, 93.98, 79.8066667, 75.4066667, 69.314, 93.98, 79.8066667, 84.8266667, 94.96, 79.8066667, 93.98, 86.6266667]
Highest Prelim Grade: 96.4066667
Lowest Prelim Grade: 60.7882

In [ ]:
gs_2 = (cg['midterm_grades'].tolist())
print (gs_2)
column = cg['midterm_grades']
highest = column.max()
lowest = column.min()

print('Highest Midterm Grade:',highest)
print('Lowest Midterm Grade:',lowest)

[95.26, 95.26, 94.36, 81.372, 95.26, 92.485, 97.3, 68.0, 82.0, 82.0, 92.485, 94.36, 82.0, 94.36, 92.485, 87.685, 97.3, 83.5, 82.0, 87.685, 97.3, 83.5, 92.485, 95.26, 87.46, 97.3, 84.85]
Highest Midterm Grade: 97.3
Lowest Midterm Grade: 68.0

In [ ]:
gs_3 = (cg['final_grades'].tolist())
print (gs_3)
column = cg['final_grades']
highest = column.max()
lowest = column.min()

print('Highest Final Grade:',highest)
print('Lowest Final Grade:',lowest)

[92.2192, 92.7792, 84.32, 84.64, 92.2192, 83.5792, 95.6528, 83.8672, 84.1472, 84.1472, 82.7792, 84.32, 84.1472, 84.32, 82.7792, 83.8672, 95.6528, 81.2792, 82.5472, 50.336, 95.6528, 81.2792, 82.7792, 92.2192, 81.2792, 94.8528, 83.8672]
Highest Final Grade: 95.6528
Lowest Final Grade: 50.336

In [ ]:
gs_4 = (cg['Semestral Grades'].tolist())
print (gs_4)
column = cg['Semestral Grades']
highest = column.max()
lowest = column.min()

print('Highest Semestral Grade:',highest)
print('Lowest Semestral Grade:',lowest)

[94.14640000000001, 94.33306666666665, 85.61777776666666, 81.3951111, 94.14640000000001, 86.96362223333334, 95.64426666666667, 70.88513333333334, 86.81795556666667, 87.51795556666667, 87.39695556666668, 85.61777776666666, 86.81795556666667, 85.61777776666666, 86.69695556666666, 85.45962223333333, 95.64426666666667, 81.52862223333334, 79.98462223333334, 69.11166666666666, 95.64426666666667, 81.52862223333334, 86.69695556666666, 94.14640000000001, 82.84862223333333, 95.37759999999999, 85.11462223333334]
Highest Semestral Grade: 95.64426666666667
Lowest Semestral Grade: 69.11166666666666

# Task 3: Advanced Class Functions

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

In [ ]:
cl = pd.read_excel(uploaded['lists.xlsx'])
print (cl)

     Unnamed: 0
0     201009754
1     201109795
2     201005713
3     201009855
4     201006171
..          ...
995   201108927
996   201005697
997   201005744
998   201109959
999   201109382

[1000 rows x 1 columns]

In [ ]:
list = pd.DataFrame(cl) 
print(list)

     Unnamed: 0
0     201009754
1     201109795
2     201005713
3     201009855
4     201006171
..          ...
995   201108927
996   201005697
997   201005744
998   201109959
999   201109382

[1000 rows x 1 columns]

In [ ]:
duplicate = list[list.duplicated(keep = 'last')]
 
print("Duplicate Rows :")
 

duplicate

Duplicate Rows :

     Unnamed: 0
7     201107193
22    201103047
41    201104561
120   201001828
130   201103097
148   201004549
152   201004677
156   201105614
159   201007492
185   201007729
191   201009820
269   201105268
385   201104087
434   201002752
451   201104169
473   201007915
508   201009711
608   201005191
632   201105252
746   201107271
781   201008342
901   201106278
969   201108927

# Task 4: Class of Classes

In [ ]:
import numpy as np
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving class_grades (1).xlsx to class_grades (1) (1).xlsx

In [ ]:
cg = pd.read_excel (uploaded['class_grades (1).xlsx'])
print (cg)

       name  id  prelim_grades  midterm_grades  final_grades
0     alpha   1      94.960000          95.260       92.2192
1     aleph   2      94.960000          95.260       92.7792
2      beta   3      78.173333          94.360       84.3200
3      beth   4      78.173333          81.372       84.6400
4    cuprum   5      94.960000          95.260       92.2192
5     delta   6      84.826667          92.485       83.5792
6       eta   7      93.980000          97.300       95.6528
7   epsilon   8      60.788200          68.000       83.8672
8   foxtrot   9      94.306667          82.000       84.1472
9     gamma  10      96.406667          82.000       84.1472
10     geld  11      86.926667          92.485       82.7792
11    horus  12      78.173333          94.360       84.3200
12     iota  13      94.306667          82.000       84.1472
13     ixus  14      78.173333          94.360       84.3200
14  jakarta  15      84.826667          92.485       82.7792
15    koppa  16      84.826667          87.685       83.8672
16   lambda  17      93.980000          97.300       95.6528
17       mu  18      79.806667          83.500       81.2792
18       nu  19      75.406667          82.000       82.5472
19     neta  20      69.314000          87.685       50.3360
20  omicron  21      93.980000          97.300       95.6528
21    omega  22      79.806667          83.500       81.2792
22  phalanx  23      84.826667          92.485       82.7792
23     peta  24      94.960000          95.260       92.2192
24       pi  25      79.806667          87.460       81.2792
25    yotta  26      93.980000          97.300       94.8528
26     zeta  27      86.626667          84.850       83.8672

In [ ]:
students = (cg['name'].tolist())
student_id = (cg['id'].tolist())
final_grades = (cg['final_grades'].tolist())
student_fail = 70

students_dict_comp = {name:[id,final_grades] for name, id, final_grades in zip(students, student_id, final_grades)}
print(students_dict_comp)
print("Here are the list of Failed Students if Passing is 70:")

def get_failed (students_dict_comp): 
    for student in students_dict_comp:
 
        student_gpa = students_dict_comp[student][1]
        if student_gpa <= student_fail:
            
            print(student)
get_failed(students_dict_comp)

{'alpha': [1, 92.2192], 'aleph': [2, 92.7792], 'beta': [3, 84.32], 'beth': [4, 84.64], 'cuprum': [5, 92.2192], 'delta': [6, 83.5792], 'eta': [7, 95.6528], 'epsilon': [8, 83.8672], 'foxtrot': [9, 84.1472], 'gamma': [10, 84.1472], 'geld': [11, 82.7792], 'horus': [12, 84.32], 'iota': [13, 84.1472], 'ixus': [14, 84.32], 'jakarta': [15, 82.7792], 'koppa': [16, 83.8672], 'lambda': [17, 95.6528], 'mu': [18, 81.2792], 'nu': [19, 82.5472], 'neta': [20, 50.336], 'omicron': [21, 95.6528], 'omega': [22, 81.2792], 'phalanx': [23, 82.7792], 'peta': [24, 92.2192], 'pi': [25, 81.2792], 'yotta': [26, 94.8528], 'zeta': [27, 83.8672]}
Here are the list of Failed Students if Passing is 70:
neta

In [ ]:
def fail_count (students_dict_comp): 
    for student in students_dict_comp: 
        student_gpa = students_dict_comp[student][1]
count = sum(i < student_fail for i in final_grades)
  
print ("Number of students failed : " + str(count))

fail_count(students_dict_comp)

Number of students failed : 1