<a href="https://colab.research.google.com/github/PvrpleJade/AIDA-2/blob/main/Santos%2C_Franz_Nico_Finals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Santos, Franz Nico

#201813672

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/16insurance2.xls - 16insurance2.xls.csv')
data

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [111]:
from sklearn.model_selection import train_test_split


data = pd.read_csv('/content/16insurance2.xls - 16insurance2.xls.csv')


train_data, test_data = train_test_split(data, test_size=0.3)
print (data)

      age  sex     bmi  children  smoker  region      charges  insuranceclaim
0      19    0  27.900         0       1       3  16884.92400               1
1      18    1  33.770         1       0       2   1725.55230               1
2      28    1  33.000         3       0       2   4449.46200               0
3      33    1  22.705         0       0       1  21984.47061               0
4      32    1  28.880         0       0       1   3866.85520               1
...   ...  ...     ...       ...     ...     ...          ...             ...
1333   50    1  30.970         3       0       1  10600.54830               0
1334   18    0  31.920         0       0       0   2205.98080               1
1335   18    0  36.850         0       0       2   1629.83350               1
1336   21    0  25.800         0       0       3   2007.94500               0
1337   61    0  29.070         0       1       1  29141.36030               1

[1338 rows x 8 columns]

In [112]:
import statistics
age = data["sex"]
mean = statistics.mean(age)
median = statistics.median(age)
stdev = statistics.stdev(age)
print(mean)
print(median)
print(stdev)

0.5052316890881914
1.0
0.500159569284377

In [113]:
y_pred = data['children']
y_true = data['age']
true_positives = 0

In [114]:
for yp, yt in zip(y_pred, y_true):
   
    if yp == 1 and yt == 1:
         true_positives += 1


print(true_positives)

0

In [ ]:
def get_num_true_negatives(predicted_labels, actual_labels):
    num_true_negatives = 0
    for i in range(len(predicted_labels)):
        if predicted_labels[i] == 0 and actual_labels[i] == 0:
            num_true_negatives += 1
    return num_true_negatives

In [ ]:
def num_true_negatives(data):
  
  num_true_negatives = 0

  
  for data_point in data:
   
    if data_point["age"] == 0 and data_point["bmi"] == 0:
   
      num_true_negatives += 1

  
  return num_true_negatives
  print (num_true_negatives)

In [ ]:
def num_false_negatives(data):
 
  num_false_negatives = 0

  
  for data_point in data:
  
    if data_point["bmi"] == 1 and data_point["smoker"] == 0:
     
      num_false_negatives += 1

 
  return num_false_negatives

In [108]:
def num_false_positives(dataset):
  
  num_false_positives = 0

 
  for data_point in dataset:
  
    if data_point["bmi"] == 0 and data_point["smoker"] == 1:
     
      num_false_positives += 1

 
  return num_false_positives

In [115]:

KXdata = {'col1': data["bmi"], 'col2': data["charges"]}
KXdf = pd.DataFrame(KXdata)

KYdata = {'col1': data["sex"], 'col2': data["region"]}
KYdf = pd.DataFrame(KYdata)




KXarray = KXdf.to_numpy()
KYarray = KYdf.to_numpy()

In [119]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn import datasets, neighbors

iris = datasets.load_iris()


knn = neighbors.KNeighborsClassifier(n_neighbors=3)


knn.fit(iris.data, iris.target)


KXarrayP = knn.predict(iris.data)


accuracy = np.mean(KXarrayP == iris.target)

print("Accuracy: {:.2f}".format(accuracy))
print("Predicition Mean:" , statistics.mean(KXarrayP))

Accuracy: 0.96
Predicition Mean: 1